<div class="admin-layout">
  <h2>Admin Panel</h2>
  <nav class="flex justify-center space-x-6  bg-rose-300 py-4">
    <a routerLink="categories" routerLinkActive="active"
       class=" text-white hover:text-gray-300 transition duration-200 px-4 py-2  hover:bg-rose-950">Categories</a>
    <a routerLink="subcategory" routerLinkActive="active"
       class="text-white hover:text-gray-300 transition duration-200 px-4 py-2  hover:bg-rose-950">Subcategories</a>
    <a routerLink="product" routerLinkActive="active"
       class="text-white hover:text-gray-300 transition duration-200 px-4 py-2  hover:bg-rose-950">Products</a>
    <a routerLink="orders" routerLinkActive="active"
       class="text-white hover:text-gray-300 transition duration-200 px-4 py-2  hover:bg-rose-950">Orders</a>
  </nav>
  <router-outlet></router-outlet>
</div>