$primary-color: #00bdc4;
$secondary-color: #009689;
.form-container {
    background-color: #fff;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 10rem;
  }
  
  .form-box {
    background-color: none;
    padding: 40px;
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: $primary-color;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 30px;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid $secondary-color;
    outline: none;
    font-size: 16px;
    transition: border-color 0.4s;
  }
  
  .input-box label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: $secondary-color;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: $primary-color;
  }
  
  .input-box input:focus {
    border-color: $primary-color;
  }
  
  button {
    background-color: $secondary-color !important;
  }
  
  button:hover {
    background-color: $primary-color !important;
  }
  

  .invalid-feedback{
    color: red;
    font-size: 0.75rem;
  }