<div class="max-w-5xl mx-auto p-6 bg-gray-100 shadow-lg mt-10">
  <h2 class="text-2xl font-bold mb-6">Shopping Cart</h2>
  <!-- Main Layout Wrapper -->
  <div class="flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-8">
    <!-- Cart Items -->
    <div class="w-full lg:w-3/4 space-y-4">
      @for (item of cartItems; track $index) {
        <div class="bg-white p-4 shadow flex items-center justify-between flex-col lg:flex-row space-y-4 lg:space-y-0">
          <div class="flex items-center w-full lg:w-auto mb-4 lg:mb-0">
            <img [src]="item.product.images" alt="Product Image" class="w-16 h-16 mr-4" />
            <div class="flex-1">
              <h3 class="text-xl font-semibold text-gray-700">{{ item.product.name }}</h3>
              <div class="text-xl font-bold mb-2 text-gray-800 flex flex-col sm:flex-row sm:items-center sm:space-x-4">
                <span class="mr-2">₹{{ sellingPrice(item.product) }}</span>
                <span class="line-through text-gray-500"><s>₹{{ item.product.price }}</s></span>
                <span class="text-green-600 px-4">{{ item.product.discount }}% off</span>
              </div>
              <div>Amount: ₹{{ sellingPrice(item.product) * item.quantity }}</div>
            </div>
          </div>
          <!-- Quantity Section -->
          <div class="flex items-center justify-between w-full lg:w-auto mb-4 lg:mb-0">
            <span class="m-4 text-sm">Qty</span>
            <div class="flex items-center space-x-2">
              <button class="bg-primary text-white px-2 py-1 rounded-l" (click)="addToCart(item.product._id!, -1)">-</button>
              <span class="px-4 py-2 bg-gray-200 text-gray-700">{{ item.quantity }}</span>
              <button class="bg-primary text-white px-2 py-1 rounded-r" (click)="addToCart(item.product._id!, 1)">+</button>
            </div>
          </div>
          <!-- Remove button visible on both desktop and mobile -->
          <button class="bg-primary text-white px-4 py-2 mt-2 lg:mt-0" (click)="removeCart(item.product._id!)">Remove</button>
        </div>
      }
    </div>

    <!-- Cart Total Section -->
    <div class="w-full lg:w-1/4">
      <div class="bg-white p-4 shadow mt-6 lg:mt-0 sticky top-20 lg:top-6">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-lg font-semibold text-gray-800">Cart Total</h3>
        </div>
        <div class="text-lg text-gray-700 mb-4">
          <div class="flex justify-between mb-2">
            <span>Subtotal:</span>
            <span>₹{{ totalAmount }}</span>
          </div>
          <div class="flex justify-between mb-2">
            <span>Shipping:</span>
            <span>₹500</span>
          </div>

          @if(this.userAddress.length){
            <div>
              <p class="text-sm text-gray-500 mb-4">Shipping to {{primaryAddress?.city}},{{primaryAddress?.state}}</p>
              <button class="text-blue-600 text-sm underline" (click)="goToAddressPage()">Change address</button>
            </div>
          }@else {
            <button 
            (click)="goToAddressPage()"
          class="w-full bg-primary text-white py-2 font-semibold hover:bg-secondary"
        >
          Add address
        </button>
          }
          
          
          <div class="flex justify-between text-xl font-bold mt-4">
            <span>Total:</span>
            <span>₹{{ totalAmount + 500 }}</span>
          </div>
        </div>
        <button
          (click)="checkOut()"
          class="w-full bg-primary text-white py-2 font-semibold hover:bg-secondary"
        >
          Proceed to Checkout
        </button>
      </div>
    </div>
  </div>
</div>
