<header class="header">
	<div class="container mx-auto flex items-center justify-between">
		<div class="logo">
			<a class="logo__text" routerLink=""><b>Hakshara</b>Furniture</a>
		</div>
		<div class="search-bar">
			<div class="relative">
				<input type="text" placeholder="Search for products..." class="search-bar__input" (keyup.enter)="searchProduct($event)">
				<button class="search-bar__button">
					<i class="fa fa-search"></i>
				</button>
			</div>

            @if(authService.isLoggedIn){
				<div class="mt-4">
					<nav>
						<ul class="flex">
							@for( category of categoryList; track $index){
								<li (click)="searchCategory(category._id)">{{category.name}}</li>
							}
						</ul>

					</nav>
				</div>
            }

		</div>

		<div class="header__links" *ngIf="authService.isLoggedIn">
			<div class="user-icon">
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>account_circle</mat-icon>
					</button>   
                    @if(authService.isAdmin){
                        <div class="user-name cursor-pointer" routerLink="/admin">{{authService.userName}}</div>
                    }@else{
                        <div class="user-name cursor-pointer" routerLink="">{{authService.userName}}</div>
                    }      

					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="onProfile()">Profile Detail</button>
						<button mat-menu-item (click)="onLogout()">Logout</button>
					</mat-menu>
			</div>
			<div>
				<a href="#" class="header__link"><i class="fa fa-shopping-cart"></i>Cart</a>
			</div>
		</div>
        <div class="header__links" *ngIf="!authService.isLoggedIn">
            <div class="log-register cursor-pointer" routerLink="/login">Log in</div>
            <div class="log-register cursor-pointer" routerLink="/register">Register</div>
        </div>
	</div>
	</header>


