<header class="header">
	<div class="container mx-auto flex items-center justify-between">
		<div class="logo">
			<a class="logo__text" routerLink=""><b>LuxAntiq</b>Furnitures</a>
		</div>
		<div class="search-bar">
			<div class="relative">
				<input type="text" placeholder="Search for products..." [(ngModel)]="searchTerm" class="search-bar__input" (keyup.enter)="searchProduct($event)">
				<button class="search-bar__button">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>

		@if(authService.isLoggedIn){
			<div class="header__links">
				<div class="user-icon">
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>account_circle</mat-icon>
						</button>   
						@if(authService.isAdmin){
							<div class="user-name cursor-pointer" routerLink="/admin">{{authService.userName}}</div>
						}@else{
							<div class="user-name cursor-pointer" routerLink="">{{authService.userName}}</div>
						}      
	
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="onProfile()">Profile Detail</button>
							<button mat-menu-item routerLink="/order">Orders</button>
							<button mat-menu-item (click)="onLogout()">Logout</button>
						</mat-menu>
				</div>
	
				<div routerLink="/wishlist" class="cursor-pointer">
					<ng-container >
						<mat-icon>favorite</mat-icon>Wishlist
					</ng-container>
				</div>
				<div routerLink="/cart" class="cursor-pointer">
					<ng-container>
						<mat-icon>shopping_cart</mat-icon>Cart
					</ng-container>
				</div>
			</div>
		}
		
		@if(!authService.isLoggedIn){
			<div class="header__links" >
				<div class="log-register cursor-pointer" routerLink="/login">Log in</div>
				<div class="log-register cursor-pointer" routerLink="/register">Register</div>
			</div>
		}

	</div>
	</header>

    <div class="nav-header shadow-md ">
        
            @if(authService.isLoggedIn){
				<div>
					<nav>
						<ul class="flex">
							@for( category of categoryList; track $index){
								<li (click)="searchCategory(category._id)">{{category.name}}</li>
							}
						</ul>

					</nav>
				</div>
            }
    </div>


