<header class="header">
	<div class="container mx-auto flex items-center justify-between">
		<div class="logo">
			<a class="logo__text" routerLink=""><b>Hakshara</b>Furniture</a>
		</div>
		<div class="search-bar">
			<div class="relative">
				<input type="text" placeholder="Search for products..." class="search-bar__input">
				<button class="search-bar__button">
                    <i class="fa fa-search"></i>
				</button>
			</div>

            <div class="mt-4">
                <nav>
                    <ul class="flex">
                        @for( category of categoryList; track $index){
                            <li>{{category.name}}</li>
                        }
                    </ul>
        
                </nav>
            </div>
		</div>

		<div class="header__links">
            <div>
                <a href="#" class="header__link"><i class="fa-solid fa-user"></i>Profile</a>
            </div>
            <div>
                <a href="#" class="header__link"><i class="fa fa-shopping-cart"></i>Cart</a>
            </div>
		</div>
	</div>
	</header>


