$primary-color: #531800;
$secondary-color: #b0784c;
button {
  color: $primary-color;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;// Lighten the border by reducing opacity
}

button:hover{
  color: $secondary-color !important;
}

/* General Styles */
.product-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.productname{
	font-weight: 600;
}
/* Desktop View Adjustments */
@media (min-width: 769px) {
  .product-card {
    height: 360px; /* Adjusted height for desktop */
  }

  .product-info {
    padding: 10px;
  }

  .product-info h3 {
    font-size: 0.75rem;
    line-height: 1.2;
  }

  .product-info p {
    font-size: 0.85rem;
    line-height: 1.1;
    max-height: 3.3em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button{
	font-size: 0.75rem;
  }

}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .product-card {
    height: auto;
      width: auto;
  }

  .product-info {
    padding: 8px;
  }

  .product-info h3 {
    font-size: 0.9rem;
    line-height: 1.1;
  }

  .product-info p {
    font-size: 0.75rem;
    line-height: 1.1;
    max-height: 3em;
  }

  .flex.items-center .btn-add-to-cart,
  .flex.items-center .btn-wishlist {
    font-size: 0.75rem;
    padding: 4px 8px;
  }

  button{
	font-size: 0.5rem;
  }
}
