<div class="product-card cursor-pointer">
    <img [src]="product.images[0]" alt="Product Image" [routerLink]="'/product/'+product._id"/>
    <button mat-mini-fab class="favorite-icon" color="white" (click)="addWishlist(product)">
      @if(inWishlist(product)){
        <mat-icon class="text-red-500">favorite</mat-icon>
      }@else {
        <mat-icon class="text-red-500">favorite_border</mat-icon>
      }
    </button>
    <div class="product-info">
      <h3 [routerLink]="'/product/'+product._id">{{product.name}}</h3>
      <p [routerLink]="'/product/'+product._id">{{product.shortDescription}}</p>
      <div [routerLink]="'/product/'+product._id" class="text-2l font-bold mb-2 text-gray-800"><span class="mr-2">₹{{sellingPrice}}</span><span class="line-through text-gray-500"><s>₹{{product.price}}</s></span> <span class="text-green-600 px-4">{{product.discount}}% off</span></div>
      <div>
       
        <button mat-mini-fab (click)="addToCart(product)">
          @if(inCart(product._id!)){
            <mat-icon>remove_shopping_cart</mat-icon>
          }@else {
            <mat-icon>add_shopping_cart</mat-icon>
          }
        </button>
      </div>
   
    </div>
  </div>