<div class="home">
  <div class="carousel mb-8" (mouseenter)="stopAutoplay()" (mouseleave)="startAutoplay()">
    <div class="carousel-track" [ngStyle]="{'transform': 'translateX(' + (-currentIndex * 100) + '%)'}">
      <div class="carousel-slide" *ngFor="let image of images">
        <img [src]="image" alt="Carousel Image" class="carousel-image" />
      </div>
    </div>
      <button class="carousel-button prev" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-button next" (click)="nextSlide()">&#10095;</button>
      <div class="carousel-dots">
      <span
        class="dot"
        *ngFor="let _ of images; let i = index"
        [class.active]="i === currentIndex"
        (click)="goToSlide(i)"
      ></span>
    </div>
  </div>
  

  <div class="grid grid-cols-4 md:grid-cols-8 gap-4 relative justify-center">
    <div
      *ngFor="let category of categoryList; let i = index"
      class="category-container text-center"
      (mouseenter)="showSubcategories(category._id)"
      (mouseleave)="hideSubcategories()"
    >
      <img
        [src]="category.iconUrl"
        class="categoryImage cursor-pointer mx-auto h-5 md:h-20"
        alt="{{ category.name }}"
      />
      <div class="font-medium text-xs sm:text-sm md:text-base mt-2 mb-2 cursor-pointer text-primary" (click)="searchCategory(category._id)">
        {{ category.name }}
      </div>

      <div
        *ngIf="visibleCategory === category._id"
        class="subcategory-dropdown"
        (mouseenter)="showSubcategories(category._id)"
        (mouseleave)="hideSubcategories()"
      >
        <div
          *ngFor="let subcategory of getSubcategoriesByCategory(category._id)"
          class="subcategory-item py-1 px-2 text-secondary"
          (click)="searchSubCategory(subcategory._id)"
        >
          {{ subcategory.name }}
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Products Section -->
  <div class="my-20">
    <h4 class="text-lg newfeat sm:text-xl md:text-2xl text-primary mb-4 text-center uppercase">
      Featured Products
    </h4>
    <div class="flex justify-center">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <ng-container *ngFor="let product of featuredProducts; index as i">
          <app-product-card [product]="product" class="w-full"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- New Products Section -->
  <div class="my-20">
    <h4 class="text-lg sm:text-xl newfeat md:text-2xl text-primary mb-4 text-center uppercase">
      New Products
    </h4>
    <div class="flex justify-center">
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <ng-container *ngFor="let product of newProducts; index as i">
          <app-product-card [product]="product" class="w-full"></app-product-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
