.category-container {
    position: relative;
  }
  
  .subcategory-dropdown {
    position: absolute;
    top: 100%;
    left: 0; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none; 
    width: 100%; 
    z-index: 10; 
  }
  
  .category-container:hover .subcategory-dropdown {
    display: block;
  }
  
  .subcategory-item {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subcategory-item:hover {
    background-color: #f0f0f0;
  }
  
  .subcategory-dropdown:hover {
    display: block; 
  }

  .newfeat{
    font-weight: 800;
  }


//   ::ng-deep .owl-nav .owl-prev,
// ::ng-deep .owl-nav .owl-next {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// ::ng-deep .owl-nav .owl-prev {
//   left: 0px; /* Adjust this value to position the button */
// }

// ::ng-deep .owl-nav .owl-next {
//   right: 0px; /* Adjust this value to position the button */
// }

// ::ng-deep .carousel-nav-image {
//   width: 30px; /* Adjust image size */
//   height: auto;
// }