<div class="product-card" [routerLink]="'product/'+product._id">
    <div class="img-space">
        <img [src]="product.images[0]" alt="Product Image" />
    </div>
    <div class="product-info">
      <h3>{{product.name}}</h3>
      <p>{{product.shortDescription}}</p>
      <div class="text-3xl font-bold mb-2 text-gray-800">₹{{sellingPrice}} <span class="line-through text-gray-500"><s>₹{{product.price}}</s></span> <span class="text-green-600 px-4">{{product.discount}}% off</span></div>
      <button mat-raised-button class="addtocart">
        Add to cart
      </button>
    </div>
  </div>